<% if (success.length > 0) { %>
    <div class="alert alert-success"><%= success %></div>
<% } %>

<table class="table table-bordered table-hover" style="background-color: #4CAF50; color: black">

    <tbody></tbody>
        <% for (var confession of confessions) { %>
            <tr>
            <td><%= confession.confession %></td>
            
            <td>
                <a href="/<%= confession.id %>/moderate" class="btn btn-small btn-primary">moderate</a>
                <a href="/edit/<%= confession.id %>" class="btn btn-small btn-primary">edit</a>
                <a href="/<%= confession.id %>/delete" class="btn btn-small btn-danger">delete</a>
            </td>
        </tr>
        <% } %>

    </tbody>
</table>